<!DOCTYPE html>
<html lang="nn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container footercolor">

    <div class="row">
        <div class="col-6" style="">
            <br>
            <h4>
                Prosjektoppgave ITE1805 (Gruppe 7) - Blogg<br/>
                <small class="text-muted">
                    <h6>ITE1805-1 18V Databaser og webapplikasjoner 1</h6></small>
            </h4>

            <h6>
                <small class="text-muted">Løsningen baseres på bruk av HTML 5, CSS, PHP, MySQL, JavaScript, Twig,
                    Bootstrap,
                    Font Awesome. Brukt objektorienterte prinsipper med PHP-koding og sikre spørringer mot databasen ved
                    hjelp av PDO.
                </small>
            </h6>
        </div>

        <div class="col-2">

            <br>
            <h6><strong>Studenter:</strong><br>
                <small class="text-muted">Aleksei Poroshin <br> Georgii Bogdanov</small>
                <br></h6>

        </div>

        <div class="col-2">
            <br>


            <h6><strong>Lærere:</strong><br>
                <small class="text-muted">Knut Collin <br> Arild Steen</small>
                <br></h6>

        </div>

        <div class="col-2 footerrightfield">
            <h4>

                <small class="uitcolor"><strong>UiT</strong> 2018</small>
                <br/>

            </h4>
            <strong><p>NORGES ARKTISKE UNIVERSITET</p></strong>
        </div>
    </div>
</div>
</body>
</html>